In [4]:
import pandas as pd
import pyarrow.dataset as ds
import pyarrow.parquet as pq

# Read with schema unification to handle inconsistent types across files
dataset = ds.dataset('../data', format='parquet')
table = dataset.to_table()
df = table.to_pandas()

df

,tweetId,ticker,score,sentiment,processedAt,publisher,source,originalTimestamp
0,1qdk7p7,AAPL,0.0,NEUTRAL,2026-01-21 19:47:37.179000+00:00,r/reddit,reddit,2026-01-15 13:58:09+00:00
1,1qdk7p7,AAPL,0.0,NEUTRAL,2026-01-21 19:48:04.586000+00:00,r/reddit,reddit,2026-01-15 13:58:09+00:00
2,1qdk7p7,AAPL,0.0,NEUTRAL,2026-01-21 19:48:38.362000+00:00,r/reddit,reddit,2026-01-15 13:58:09+00:00
3,1qdk7p7,AAPL,0.0,NEUTRAL,2026-01-21 19:49:12.664000+00:00,r/reddit,reddit,2026-01-15 13:58:09+00:00
4,1qdk7p7,AAPL,0.0,NEUTRAL,2026-01-21 19:50:46.169000+00:00,r/reddit,reddit,2026-01-15 13:58:09+00:00
...,...,...,...,...,...,...,...,...
5188,1qhck1v,TSLA,0.0,NEUTRAL,2026-01-21 20:19:34.170000+00:00,r/reddit,reddit,2026-01-19 18:37:00+00:00
5189,1qhck1v,TSLA,0.0,NEUTRAL,2026-01-21 20:20:05.477000+00:00,r/reddit,reddit,2026-01-19 18:37:00+00:00
5190,1qhck1v,TSLA,0.0,NEUTRAL,2026-01-21 20:20:35.964000+00:00,r/reddit,reddit,2026-01-19 18:37:00+00:00
5191,1qhck1v,TSLA,0.0,NEUTRAL,2026-01-21 20:21:40.382000+00:00,r/reddit,reddit,2026-01-19 18:37:00+00:00
5192,1qhck1v,TSLA,0.0,NEUTRAL,2026-01-21 20:22:22.453000+00:00,r/reddit,reddit,2026-01-19 18:37:00+00:00