In [10]:
import datetime
from src.YahooFinance import load, LoadContext

ctx = LoadContext(datetime.date(2001, 1, 1), datetime.date(2023, 12, 31), "msft")

data = load(ctx)

data['aaa'] = data.open - data.close
data

           date        open        high  ...   adj_close     volume         aaa
0    2001-01-02   22.062500   22.500000  ...   13.420649   82413200   22.062500
1    2001-01-03   21.593750   24.437500  ...   14.832319  135962200   21.593750
2    2001-01-04   23.906250   25.250000  ...   14.987039  112397000   23.906250
3    2001-01-05   24.250000   24.937500  ...   15.199757   93414600   24.250000
4    2001-01-08   24.468750   24.875000  ...   15.141739   79817600   24.468750
...         ...         ...         ...  ...         ...        ...         ...
5780 2023-12-22  373.679993  375.179993  ...  373.888580   17091100  373.679993
5781 2023-12-26  375.000000  376.940002  ...  373.968445   12673100  375.000000
5782 2023-12-27  373.690002  375.059998  ...  373.379547   14905400  373.690002
5783 2023-12-28  375.369995  376.459991  ...  374.587280   14327000  375.369995
5784 2023-12-29  376.000000  377.160004  ...  375.345886   18723000  376.000000

[5785 rows x 8 columns]